ul {
  padding-inline-start: 20px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 10;
  padding: 0;
}

.square {
  background: #000;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  border-radius: 0;
}

.square-highlight {
  border: 3px solid #999;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: row;
}

.game-board {
  margin-left: 0px;
}

.game-info {
  grid-column: 2;
  margin-left: 20px;
}
